<div class="contaier-fluid mb-5">
    <div class="container">
      <h1 class="ml-5 m-4">Qu'est ce que la Covid-19</h1>
    </div>
    <div class="container">
      <main class="grid">
        <article>
          <img src="../../assets/img/presi.jpg" alt="Sample photo">
          <div class="text">
            <h3>Discours du President Macky Sall</h3>
            <p>Message à la Nation du Président Macky Sall du 11 mai 2020.</p>
            <a href="http://www.presidence.sn/actualites/message-a-la-nation-du-president-macky-sall-dans-le-cadre-de-la-lutte-contre-la-maladie-a-coronavirus-covid-19_2016" class="btn btn-primary btn-block">Lire l'article</a>
          </div>
        </article>
        <article>
          <img src="../../assets/img/covid.jpg" alt="Sample photo">
          <div class="text">
            <h3>C'est quoi Covid-19</h3>
            <p>La COVID-19 est la maladie infectieuse causée par le dernier coronavirus qui a été découvert. Ce nouveau virus et cette maladie étaient inconnus avant l’apparition de la flambée à Wuhan (Chine) en décembre 2019..</p>
            <a href="" class="btn btn-primary btn-block">En savoir Plus</a>
          </div>
        </article>
        <article>
          <img src="../../assets/img/wuhan.jpg" alt="Sample photo">
          <div class="text">
            <h3>Origine Covid-19</h3>
            <p>Les premières personnes à avoir contracté le virus s’étaient rendues au marché de Wuhan dans la Province de Hubei en Chine. Une maladie transmise par l’animal (zoonose) est donc privilégiée mais l’origine n’a pas été confirmée</p>
            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
          </div>
        </article>
        <article>
          <img src="../../assets/img/symp.png" alt="Sample photo">
          <div class="text">
            <h3>Symptomes</h3>
            <p>Les symptômes les plus courants de la COVID-19 sont la fièvre, la fatigue et une toux sèche. Certains patients présentent des douleurs, une congestion nasale, un écoulement nasal, des maux de gorge ou une diarrhée. Ces symptômes sont généralement bénins et apparaissent de manière progressive.</p>
            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Just do it...</a>
          </div>
        </article>
        <article>
          <img src="../../assets/img/propa.jpg" alt="Sample photo">
          <div class="text">
            <h3>Propagation</h3>
            <p>La COVID-19 est transmise par des personnes porteuses du virus. La maladie peut se transmettre d’une personne à l’autre par le biais de gouttelettes respiratoires expulsées par le nez ou par la bouche lorsqu’une personne tousse ou éternue.</p>
            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
          </div>
        </article>
        <article>
          <img src="../../assets/img/sensi.jpg" alt="Sample photo">
          <div class="text">
            <h3>Sensibilisations</h3>
            <p>Il n’existe pas encore de vaccin contre la COVID-19. Cependant, la plupart des symptômes de la maladie
              sont traitables et une prise en charge médicale rapide peut atténuer les risques. Plusieurs essais
              cliniques sont en cours de réalisation afin d’évaluer de potentiels traitements thérapeutiques pour la
              COVID-19</p>
            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Stop here</a>
          </div>
        </article>
      </main>
    </div>
</div>
