<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="jumbotron offset-1 mt-5">
            <h1 class="display-4">Declarer un cas d'inffection!</h1>
            <hr class="my-4">
            <p class="lead">Pour toute information veuillez appeler ces numeros.</p>
          </div>
    </div>
    <hr>
    <div class="row mt-5">
    <div class="form-grom col-md-6 mt-5">
        <label for="" style="color:#E06745;" ><h3>NUMERO VERT</h3> </label>
        <h1>800 00 50 50</h1>
    </div>
    <div class="form-grom col-md-6 mt-5">
        <label for="" style="color:#E06745;"><h3> NUMERO SAMU</h3></label>
        <h1>15 15</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="form-grom col-md-6  mt-5">
        <label for="" style="color:#E06745;"><h3>CELLULE D'ALERTE</h3> </label>
        <h1>78 172 10 81 / 76 765 97 31 / 70 717 14 92</h1>
    </div>
    <div class="form-grom col-md-6 mt-5">
        <label for="" style="color:#E06745;"><h3>LE CHATBOT DOCTEUR COVID19 VOUS INFORME VIA WHATSAPP</h3> </label>
        <h1>76 600 05 26</h1>
    </div>
</div>

        <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
        </div>
</div>