<div class="container-fluid">
  <header>
    <h3 class="d-flex justify-content-center mt-4"> Ensemble Luttons Contre la Covid 19</h3>
    <hr>
    <div class="menu-toggle" id="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <div class="overlay"></div>
    <div class="container mt-5">
        <nav>
            <h1 class="brand"><a href="/" rooterLink="/">Covid<span>stop</span></a></h1>
            <ul>
                <li><a href="#" routerLink='/about' > covid-19 ?</a></li>
                <li><a href="#" routerLink='/discours' >Declarer un cas infecter</a></li>
                <li><a href="#" routerLink='/prevention'>Mesures preventives</a></li>
                <li><a href="#" routerLink='/bilan'>Bilan covid-19</a></li>
                <li><a href="#" routerLink='/search'>Recherche </a></li>

            </ul>
        </nav>
    </div>
</header>
</div>


<router-outlet></router-outlet>