<div class="container-fluid">
  <div class="container">
    <div class="jumbotron  mt-5">
      <h3 class="ml-4 m-4">Consignes Sanitaires</h3>
      <hr class="my-4">
      <p class="lead">Respecter la distanciation sociale.</p>
    </div>
  </div>
    <div class="row mt-5">
        <div class="col-md-2">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/img/1-icone.png" alt="Avatar" style="width:200px;height:200px;">
              </div>
              <div class="flip-card-back">
                <h1>Laver les mains</h1>
                <p>Se laver les mains très</p>
                <p>régulièrement avec une solution</p>
                <p>hydro alcoolique ou à l’eau et au savon</p>
              </div>
            </div>
        </div>
  </div>
        <div class="col-md-2">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/img/2-icon.png" alt="Avatar" style="width:200px;height:200px;">
              </div>
              <div class="flip-card-back">
                <h1>Tousser ou éternue</h1>
                <p>Tousser ou éternuer dans son coude ou dans un mouchoir. Jeter le mouchoir après usage dans une poubelle fermée.</p>
                
              </div>
            </div>
        </div>
    </div>
        <div class="col-md-2">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../assets/img/3-icon.png" alt="Avatar" style="width:200px;height:200px;">
                </div>
                <div class="flip-card-back">
                  <h1>Mouchoirs</h1>
                  <p>Utiliser des mouchoirs à usage unique et les jeter</p>
                  
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../assets/img/4-icon.png" alt="Avatar" style="width:200px;height:200px;">
                </div>
                <div class="flip-card-back">
                  <h1>Saluations</h1>
                  <p>Saluer sans se serrer la main, éviter les embrassades</p>
                </div>
              </div>
          </div>
      </div>
        <div class="col-md-2">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../assets/img/5-icon.png" alt="Avatar" style="width:200px;height:200px;">
                </div>
                <div class="flip-card-back">
                  <h1>Rassemblements</h1>
                  <p>Eviter les rassemblements, limiter les déplacements et les contacts</p>
                  
                </div>
              </div>
        </div>
      </div>
</div>
<div class=" section mt-5" >

</div>
</div>