<div class="row mb-5" >
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
              <h2>Confirmee</h2>
            </div>
            <div class="value" >
                <h1>{{totalConfirmed}}</h1>
                
            </div>
          </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
                <h2>Guerris</h2>
            </div>
            <div class="value">
                <h1>{{totalRecovered}}</h1>
              
            </div>
          </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label" >
            <h2>Decedes</h2>
            </div>
            <div class="value">
              <h1>{{totalDeaths}}</h1>
            </div>
          </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
              <h2>Sous-traitement</h2>
            </div>
            <div class="value">
              <h1>{{totalActive}}</h1>
            </div>
          </div>
    </div>
</div>
