<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <div class="container mb-5">
        
<div class="jumbotron bg-white text-center">
  <div class="jumbotron offset-1 mt-5">
    <h1 class="display-4">Coronas Virus bilan</h1>
    <hr class="my-4">
    <p class="lead">  Bilan mondial de la Covid-19.</p>
  </div>
</div>
  <div class="row">
      <div class="card col">
          <div class="ui statistic">
              <div class="label">
                <h2>Confirmee</h2>
              </div>
              <div class="value" >
                  <h3>{{totalConfirmed}}</h3>
                  
              </div>
            </div>
      </div>
      <div class="card col">
          <div class="ui statistic">
              <div class="label">
                  <h2>Guerris</h2>
              </div>
              <div class="value">
                  <h3>{{totalRecovered}}</h3>
                
              </div>
            </div>
      </div>
      <div class="card col">
          <div class="ui statistic">
              <div class="label" >
              <h2>Decedes</h2>
              </div>
              <div class="value">
                <h3>{{totalDeaths}}</h3>
              </div>
            </div>
      </div>
      <div class="card col">
          <div class="ui statistic">
              <div class="label">
                <h2>Sous-traitement</h2>
              </div>
              <div class="value">
                <h3>{{totalActive}}</h3>
              </div>
            </div>
      </div>
  </div>
  <br><br>
      <hr>
      
     
</div>
</body>
</html>


